<!-- wp:template-part {"slug":"header","theme":"creativ-business-fse","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"creativ-business-fse/home-hero"} /-->
	<!-- wp:pattern {"slug":"creativ-business-fse/home-services"} /-->
	<!-- wp:pattern {"slug":"creativ-business-fse/home-callback"} /-->
	<!-- wp:pattern {"slug":"creativ-business-fse/home-about"} /-->
	<!-- wp:pattern {"slug":"creativ-business-fse/home-portfolio"} /-->
	<!-- wp:pattern {"slug":"creativ-business-fse/home-latest-posts"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"creativ-business-fse","tagName":"footer"} /-->